@import '../../styles/colors'

.container
  display: flex
  justify-content: flex-end
  button
    outline: none
    border: none
    padding: 8px 14px
    margin: 20px 40px 0 0
    color: white
    font-size: 13px
    border-radius: 15px
    background: $spotifyRed
    cursor: pointer
    &:hover
      transform: scale(1.02)
      background: $spotifyRedLight
