@import '../../../../styles/colors'

.playlists
  display: flex
  flex-wrap: wrap

  .playlist
    width: 100%
    overflow: hidden
    padding: 0
    border: none
    padding: 10px 10px
    cursor: pointer
    display: flex
    align-items: center
    outline: none

    &.active
      background: lighten($spotifyDarkGrey, 3)

    &:hover
      background: lighten($spotifyDarkGrey, 3)
      p
        color: #ffffff

    .imgContainer
      height: 50px
      width: 50px
      overflow: hidden
      margin-right: 15px
      img
        transition: transform 0.1s ease-in-out
        width: 100%
        height: 100%

    p
      margin: 0
      font-weight: 500
      color: $spotifyTextLightGrey
